<form [formGroup]="bookForm" (ngSubmit)="Submit()">
  <div class="mb-4">
    <label for="name">Название:</label>
    <input type="text" id="name" formControlName="name" class="border p-2 rounded w-full" />
  </div>
  <div class="mb-4">
    <label for="description">Описание:</label>
    <input type="text" id="description" formControlName="description" class="border p-2 rounded w-full" />
  </div>
  <div class="mb-4">
    <label for="price">Цена:</label>
    <input type="number" id="price" formControlName="price" class="border p-2 rounded w-full" />
  </div>
  <div class="mb-4">
    <label for="categoryId">Категория:</label>
    <select id="categoryId" formControlName="categoryId" class="border p-2 rounded w-full">
      <option selected disabled value="1">Выберите категорию</option>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>
  <div class="flex justify-end">
    <app-custom-button type="success">Добавить книгу</app-custom-button>
  </div>
</form>
