<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4">Все книги</h2>
  <div class="mb-4">
    <app-custom-button type="info" (click)="openModal()">Добавить книгу</app-custom-button>
  </div>
  <label class="block mb-2">Фильтр книг по категориям:</label>
  <div class="mb-4 flex gap-4">
    <select class="border p-2 rounded w-full" (change)="CategoryChange($event)">
      <option value="">Все категории</option>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
    <app-custom-button type="info">Фильтр</app-custom-button>
  </div>
  <ul class="grid grid-cols-3 gap-4">
    <li class="border p-4 flex flex-col items-center" *ngFor="let book of books">
      <img src="../../assets/image/9780802163011.webp" alt="Book Image" class="w-[120px] h-36 mb-4" />
      <div class="mb-2">
        <p>Название: {{ book.name }}</p>
        <p>Описание: {{ book.description }}</p>
        <p>Цена: {{ book.price | currency }}</p>
        <p>Категория: {{ getCategoryName(book.categoryId) }}</p>       </div>
      <div class="flex gap-2">
        <app-custom-button (click)="openModal(book)" type="success">Изменить</app-custom-button>
        <app-delete-book [book]="book" (bookDeleted)="BookChange()"></app-delete-book>
      </div>
    </li>
  </ul>
  <app-custom-modal *ngIf="showModal" (closeModal)="closeModal()">
    <app-add-book *ngIf="!selectedBook" (bookAdded)="BookChange()"></app-add-book>
    <app-edit-book *ngIf="selectedBook" [book]="selectedBook" (bookEdited)="BookChange()"></app-edit-book>
  </app-custom-modal>
</div>
